.explore-food .card {
  border: none;
  background-color: transparent;
  border-radius: 0.9375rem;
}
.explore-food .card img {
  border-radius: 0.9375rem;
  object-fit: cover;
  height: 200px;
}
.explore-food .card span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #eee;
}
.explore-food .card span del {
  color: var(--text-gray);
  margin-left: 0.5rem;
}
