:root {
  --primary-color: #ffb347;
  --secondary-color: #43121d;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #6f4e37;
  --text-gray: #999;
  --text-orange: #ffb347;
  --black-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}
