.top-banner {
  width: 100%;
  background: url("../images/cup-of-coffee-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 150px 0 150px;
}

.top-banner p {
  font-weight: 700;
  color: #ffb347;
}
